html, body ,h1{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}

.ppm-shell-header {
  display: block;
  margin: 0;
  background: #000;
  color: #fff;
  width: 100%;
  height: 40px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.ppm-shell-main {
  width: 700px;
  height: 700px;
  margin: 10px auto;
  background: #ddd;
  border-radius: 10px;
}
.ppm-shell-main-sidebar {
  float: left;
  font-size: 15pt;
  position: relative;
  background: #559911;
  width: 20%;
  height: 100%;
  margin: 0;
  border-radius: 10px 0 0 10px;
}

.ppm-inbox {
  float: left;
  background: #440099;
  width: 80%;
  height: 100%;
  margin: 0;
  border-radius: 0 10px 10px 0;
}
.ppm-inbox-title {
  font-size: 22pt;
  margin-left: 10px; 
}

.ppm-inbox-task {
  background: #fff;;
  margin: 10px;
  padding: 10px;
}

.ppm-inbox-task-title {
  font-size: 22pt;
}

.ppm-inbox-task-content {
  font-size: 15pt;
}

footer {
  position: relative;
  background: #991133;
  width: 100%;
  height: 30px;
}
